{% extends 'hof/base.html' %}
{% load staticfiles %}



{% block style %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
    <style>
        .text-align-center {
            text-align: center;
        }

    </style>

{% endblock %}



{% block content %}
    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1> 일일호프 장소를 찾을 땐 원데이호프!</h1>
                {% include 'hof/search_form.html' %}
            </div>
        </div>
    </header>


    <!-- Page Content -->
    <div class="container">


        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-align-center">
                    적당한 장소를 찾아보세요.
                </h2>
            </div>


            <div class="col-sm-6">
                <a href="{% url 'store_list' %}">
                    <div class="picture_search">
                        <h3>신촌 / 홍대</h3>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="{% url 'store_list' %}">
                    <div class="picture_search">
                        <h3>대규모 일일호프</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'store_list' %}">
                    <div class="picture_search">
                        <h3>좋은 분배조건</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'store_list' %}">
                    <div class="picture_search">
                        <h3>서울대입구</h3>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="{% url 'store_list' %}">
                    <div class="picture_search">
                        <h3>대학로/안암</h3>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="{% url 'store_list' %}">
                    <div class="picture_search">
                        <h3>기본대관료가 싼 곳</h3>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->


        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header text-align-center">
                    이런곳은 어떤가요
                </h2>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>




            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail thumbnail-borderless">
                    <img class="img-thumbnail" src="http://placehold.it/320x200" alt="">
                    <div class="caption">
                        <h4 class="pull-right">{store.basic_fee}원~</h4>
                        <h4><a href="#">{store.name}</a>
                        </h4>
                        <p>{store.description}</p>
                        <p>
                            <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                            <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                            <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                        </p>
                    </div>
                </div>
            </div>



            <!-- <div class="col-lg-12" style="margin:20px 0px;">
            </div> -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->





{% endblock %}



{% block script %}




{% endblock %}



