    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">OneDayHof</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if user.profile.is_store_owner %}
                            <li>
                                <a href="{% url 'store_new' %}">업체 등록하기</a>
                            </li>
                            <li>
                                <a href="{% url 'profile' %}">마이페이지</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}?next=/">로그아웃</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'profile' %}">마이페이지</a>
                            </li>
                            <li>
                                <a href="{% url 'favorite_list' pk=user.pk %}">찜목록</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}?next=/">로그아웃</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                         <a href="#" id="loginBtn">로그인</a>
                    </li>
                    <li>
                        <a href="{% url 'signup_choice' %}">회원가입</a>
                    </li>
                </ul>
                {% endif %}

                <form class="navbar-form" method="GET" aaction="/store/" role="search">
                    <div class="form-group">
                      <input type="text" id="where" name="where" class="form-control" placeholder="지역 선택" value="{{ request.GET.where }}" />
                    </div>
                    <div class="form-group">
                      <input type="text" id="howmany" name="howmany" class="form-control" placeholder="인원수 선택" value="{{ request.GET.howmany }}" />
                    </div>
                    <div class="form-group">
                      <input type="text" id="direct_search" name="direct_search" class="form-control" placeholder="직접 검색" value="{{ request.GET.direct_serach }}" />
                    </div>
                    <input href="{% url 'store_list' %}?where={{ query_where }}&howmany={{ query_howmany }}&direct_search={{ query_direct_search }}" type="submit" class="btn btn-default" value="검색" />
                </form>
                <div id="region_list" style="display: none;">
                {% for region in region_list %}
                    <button class="btn btn-xs btn-defualt region_choice" id="region-{{ forloop.counter }}" class="" value="{{ region }}">{{ region }}</button>
                {% endfor %}
                </div>
                <div id="max_guest_list" style="display:none;">
                {% for max_guest in max_guest_list %}
                    <button class="btn btn-xs btn-defualt max_guest_choice" id="max_guest-{{ forloop.counter }}" class="" value="{{ max_guest }}">{{ max_guest }}</button>
                {% endfor %}
                </div>
            </div>
            <!-- /.navbar-collapse -->



        </div>
        <!-- /.container -->
    </nav>









{% include 'hof/loginModal.html' %}
