<form class="form-inline" method="GET" action="/store/" role="search">
    <div class="form-group">
      <input type="text" id="where" name="where" class="form-control" placeholder="지역 선택" value="{{ request.GET.where }}" />
    </div>

    <div class="form-group">
      <input type="text" id="howmany" name="howmany" class="form-control" placeholder="인원수 선택" value="{{ request.GET.howmany }}" />
    </div>

    <div class="form-group">
      <input type="text" id="direct_search" name="direct_search" class="form-control" placeholder="직접 검색" value="{{ query_direct_search }}" />
    </div>
    <input href="{% url 'store_list' %}?where={{ query_where }}&howmany={{ query_howmany }}&direct_search={{ query_direct_search }}" type="submit" class="btn btn-default" value="검색" />
</form>




  <!-- Modal -->

<div class="modal search-modal" id="whereChoiceModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content modal-content-gray">
        <div class="modal-body">
            <div id="region_list text-center">
            {% for region in region_list %}
                <button class="btn btn-sm btn-default region_choice" value="{{ region }}"><b>{{ region }}</b></button>
            {% endfor %}
                <button class="btn btn-sm btn-danger region_choice" value="">선택 취소</button>
            </div>
        </div>
      </div>
    </div>
  </div>


<div class="modal search-modal" id="howmanyChoiceModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content modal-content-gray">
        <div class="modal-body">
            <div id="max_guest_list">
            {% for max_guest in max_guest_list %}
                <button class="btn btn-sm btn-default max_guest_choice" value="{{ max_guest }}"><b>{{ max_guest }}</b></button>
            {% endfor %}
                <button class="btn btn-sm btn-danger max_guest_choice" value="">선택 취소</button>
            </div>
        </div>
      </div>
    </div>
  </div>



{% block script %}
<script>
$(document).ready(function(){
    $("#where").focusin(function(){
        $("#whereChoiceModal").modal("show");
    });

    $('.region_choice').click(function(){
        var regionChoice = $(this).val();
        $('#where').val(regionChoice);
        $("#whereChoiceModal").modal("hide");
    });

    $("#howmany").focusin(function(){
        $("#howmanyChoiceModal").modal("show");
    });

    $('.max_guest_choice').click(function(){
        var maxGuestChoice = $(this).val();
        $('#howmany').val(maxGuestChoice);
        $("#howmanyChoiceModal").modal("hide");
    });

});

</script>

{% endblock %}