<form class="form-inline" method="GET" action="/store/" role="search">
    <div class="form-group">
      <input type="text" id="where" name="where" class="form-control" placeholder="지역 선택" value="{{ request.GET.where }}" />
    </div>
    <div class="form-group">
      <input type="text" id="howmany" name="howmany" class="form-control" placeholder="인원수 선택" value="{{ request.GET.howmany }}" />
    </div>
    <div class="form-group">
      <input type="text" id="direct_search" name="direct_search" class="form-control" placeholder="직접 검색" value="{{ request.GET.direct_serach }}" />
    </div>
    <input href="{% url 'store_list' %}?where={{ query_where }}&howmany={{ query_howmany }}&direct_search={{ query_direct_search }}" type="submit" class="btn btn-default" value="검색" />
</form>
<br />

<div id="region_list" style="display:none;">
{% for region in region_list %}
    <button class="btn btn-xs btn-defualt region_choice" id="region-{{ forloop.counter }}" class="" value="{{ region }}">{{ region }}</button>
{% endfor %}
</div>


