<form id="nav_search" class="navbar-form" method="GET" action="/store/" role="search">
    <div class="form-group">
      <input type="text" name="where" class="form-control" placeholder="지역명" value="{{ request.GET.where }}" />
    </div>
    <div class="form-group">
      <input type="text" name="what" class="form-control" placeholder="분위기/계약조건" value="{{ request.GET.what }}" />
    </div>
    <input href="{% url 'store_list' %}?where={{ query_where }}&what={{ query_what }}" type="submit" class="btn btn-default" value="검색" />
</form>