{% extends 'hof/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block style %}
<link rel="stylesheet" href="{% static 'store_detail.css' %}" />
<style>
.navbar-form, .text-align-center {
        text-align: center;
    }
#top-bar {
    background-color: #444;
    color:#ccc;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

</style>
{% endblock %}



{% block navbar %}
    {% include 'hof/navbar2.html' %}
{% endblock %}


{% block content %}

<!-- Page Content -->

<!--업체정보 summary-->
<div id="top-bar">
    <!-- <div class="well"> -->
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="display: inline-block;">{{ store.name }}</h1>
                <h4 style="display: inline-block;">{{ store.get_atmosphere_display }}</h4>
                <h5>{{ store.address }}</h5>
                <p>
                <button class="btn btn-xs btn-primary">{{ store.get_gu_display }}</button >
                <button class="btn btn-xs btn-primary">{{ store.get_region_display }}</button >
                <button class="btn btn-xs btn-primary">{{ store.max_guest }}명</button >
                <button class="btn btn-xs btn-primary">{{ store.get_atmosphere_display }}</button>
                </p>
            </div>
            <div class="col-md-6">
                <h3 class="pull-right">
                    <button class="btn btn-lg btn-danger" data-toggle="modal"
                            data-target="#storeModal" id ="store_telNumber">연락처보기</button>
                    <!-- Modal -->
                    <div class="modal fade" id="storeModal" role="dialog" >
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-header" style="padding:35px 50px;">
                                    <h4> 연락처</h4>
                                </div>

                                <div class="modal-body" style="padding:40px 50px;">
                                   <div style="font-size: 40px;">
                                        TEL.
                                   </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

                                </div>
                            </div>

                        </div>
                    </div>
                    {% if favorite_flag %}
                    <button class="btn btn-lg btn-warning">추가 완료</button>
                    {% else %}
                    <button id="favorite" class="btn btn-lg btn-default" href="{% url 'favorite_this_store' store.pk %}">즐겨찾기 등록</button>
                    {% endif %}
                </h3>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
<br />


<div class="container">
    <!-- Page Heading -->
    <div class="row">

        <!--업체 정보 content-->
        <div class="col-md-8">

            <!-- Preview Image -->
            {% if store_image.first.image %}
                <img class="img-responsive" src="{{ store_image.first.image.url }}"/>
            {% else %}
                <img class="img-responsive" src="http://placehold.it/900x500" alt="">
            {% endif %}

            <hr>

            <!-- Post Content -->
            <p class="lead">
            수용인원: {{ store.max_guest }}명<br />
            기본대관료: 100만원<br />
            수익분배 방식: {{ store.contract_condition }}<br />
            </p>
            <p class="lead">
            상세정보:
            </p>
            <p>
            {{ store.description }}
            </p>

            <hr>

            <p>실제정보와 다른가요? 개선사항 또는 정보불일치 리포트 및 개선/제안을 받습니다.</p>

            <hr />
            <!-- Blog Comments -->

            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form enctype ="multipart/form-data" action="{% url 'review_new' store.pk %}" method="post">{% csrf_token %}
                    {% bootstrap_form review_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary"/>
                        {% bootstrap_icon "ok-sign" %} 리뷰달기
                        </button>
                    {% endbuttons %}
                </form>
            </div>

            <hr>

            <!-- Posted Comments -->

            <!-- Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <!-- Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <!-- Nested Comment -->
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Nested Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                    <!-- End Nested Comment -->
                </div>
            </div>
        </div>


        <!-- Blog Sidebar Widgets Column -->




        <div class="col-md-4">

            <div class="well well-sm">
            찾아오시는 길
            </div>
            <div id="map" style="width:100%; min-height:300px;">
            </div>
            <br />

            <!-- 추천 스토어-->
            <div class="well well-sm">
            추천 호프
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem i totatque eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, c</p>
                </div>
            </div>
            <br />

            <!-- 대학별 추천 스토어-->
            <div class="well well-sm">
            {user.profile.university} 사람들이 검색한 호프집
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem i totatque eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, c</p>
                </div>
            </div>
            <br />

            <!-- 최근 검색 스토어-->
            <div class="well well-sm">
            최근 검색한 호프
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem i totatque eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, c</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->







{% endblock %}



{% block js %}
<script>
    var map;

    function initMap() {
    var myLatLng = {
        lat: {{store.latitude}}, lng: {{store.longitude}}
    };
    map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: {{store.latitude}}, lng: {{store.longitude}} },
        zoom: 15
    });

    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
        });
    }
</script>

<script>
$(document).ready(function(){
    $("#favorite").click(function() {
        var url = $(this).attr("href");

        if (confirm("즐겨찾기에 추가합니다.")) {
            $.ajax({
                url: url,
                method: "GET"
            }).done(function() {
                $("#favorite").removeClass('btn-default');
                $("#favorite").addClass('btn-warning').text('즐겨찾기 등록완료');
            });
        };
        return false;
    });
});
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_vmxnOdj0JUnZKuncitGd1Jq0PD3ovSo&signed_in=true&region=KO&callback=initMap" async defer></script>

{% endblock %}





















--------------------------------------





<!-- Page Content -->

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="thumbnail">

                </div>
                <div class="caption-full" style="clear:both">
                    <h4 class="pull-right">$24.99</h4>
                    <h4><a href="#">Product Name</a>
                    </h4>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>

                <div class="well">

                    <div class="text-right">
                        <form enctype ="multipart/form-data" action="{% url 'review_new' store.pk %}" method="post">
                        {% csrf_token %}
                        {{ review_form }}
                        <input type="submit" value="리뷰 달기" class="btn btn-block btn-primary"/>
                   </form>
                    </div>

                    <hr>







                    {% for review in store.review_set.all %}
                    <h3>{{ review.author }}</h3>
                    <h5>평점 : {{ review.rating }}</h5>
                    <p>{{ review.content }}<p>
                    {% endfor %}
















                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I've alredy ordered another one!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="tab-content">
                    <p class="lead">업체의 위치</p>
                    <div id="map" class="tab-pane fade in active" style="width:400px;height:300px;">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

    </div>
    <!-- /.container -->


