{% extends 'hof/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block style %}
<link rel="stylesheet" href="{% static 'woothemes-FlexSlider-9a419a0/flexslider.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'store_detail.css' %}" />
<style>
.navbar-form, .text-align-center {
        text-align: center;
    }
#top-bar {
    background-color: #444;
    color:#ccc;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.flex-viewport {
    max-height: 400px;
}

.flex-control-thumbs li {
    width: 16.6666%;
}

.flex-direction-nav a {
    top: 41%;
}

</style>

{% endblock %}


{% block headjs %}
    <script src="{% static 'woothemes-FlexSlider-9a419a0/jquery.flexslider-min.js' %}"></script>
{% endblock %}

{% block navbar %}
    {% include 'hof/navbar2.html' %}
{% endblock %}


{% block content %}

<!-- Page Content -->

<!--업체정보 summary-->
<div id="top-bar">
    <!-- <div class="well"> -->
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="display: inline-block;">{{ store.name }}</h1>
                <h4 style="display: inline-block;">{{ store.get_atmosphere_display }}</h4>
                <h5>{{ store.address }}</h5>
                <p>
                <a class="btn btn-xs btn-primary" href="{% url 'store_list' %}?where={{ store.gu }}&howmany=&direct_search=">{{ store.get_gu_display }}</a>
                <a class="btn btn-xs btn-primary" href="{% url 'store_list' %}?where={{ store.region }}&howmany=&direct_search=">{{ store.get_region_display }}</a>
                <a class="btn btn-xs btn-primary" href="{% url 'store_list' %}?where=&howmany={{ store.max_guest }}&direct_search=">{{ store.get_max_guest_display }}</a>
                <a class="btn btn-xs btn-primary" href="{% url 'store_list' %}?where=&howmany=&direct_search={{ store.get_atmosphere_display }}">{{ store.get_atmosphere_display }}</a>
                </p>
            </div>
            <div class="col-md-6">
                <h3 class="pull-right">
                    <button class="btn btn-lg btn-danger" data-toggle="modal"
                            data-target="#storeModal" id ="store_telNumber">연락처보기</button>
                    <!-- Modal -->
                    <div class="modal fade" id="storeModal" role="dialog" >
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-header" style="padding:35px 50px;">
                                    <p> "원데이호프를 통해 연락드렸어요~"</p>
                                    <small><p>라고 말씀하시면 더 친절하게 안내받으실 수 있습니다. :)</p></small>
                                </div>

                                <div class="modal-body" style="padding:40px 50px;">
                                   <div class="text-center" style="font-size: 40px; color: #444444">
                                        {{ store.tel }}
                                   </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal">확인</button>

                                </div>
                            </div>

                        </div>
                    </div>
                    {% if favorite_flag %}
                    <a class="btn btn-lg btn-warning" href="{% url 'unfavorite_this_store' store.pk %}">추가 완료</a>
                    {% else %}
                    <button id="favorite" class="btn btn-lg btn-default" href="{% url 'favorite_this_store' store.pk %}">즐겨찾기 등록</button>
                    {% endif %}
                </h3>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
<br />


<div class="container">
    <!-- Page Heading -->
    <div class="row">

        <!--업체 정보 content-->
        <div class="col-md-8">

            <!-- Preview Image -->

            <div class="flexslider">
              <ul class="slides">
                {% for store in store_image %}
                    <li data-thumb="{{ store.image.url }}">
                        <img src="{{ store.image.url }}" />
                    </li>
                {% endfor %}
              </ul>
            </div>

<!--             {% if store_image.first.image %}
                <img class="img-responsive" src="{{ store_image.first.image.url }}"/>
            {% else %}
                <img class="img-responsive" src="http://placehold.it/900x500" alt="">
            {% endif %}
 -->
            <hr>

            <!-- Post Content -->
            <table class="table">
                <tbody>
                  <tr class="something">
                    <td class="col-md-2">수용인원</td>
                    <td class="col-md-10">{{ store.get_max_guest_display }}</td>
                  </tr>
                  <tr class="something">
                    <td class="col-md-2">계약조건</td>
                    <td class="col-md-10">{{ store.contract_condition }}</td>
                  </tr>
                  <tr class="something">
                    <td class="col-md-2">메뉴</td>
                    <td class="col-md-10">{{ store.menu }}</td>
                  </tr>
                  <tr class="something">
                    <td class="col-md-2">상세설명</td>
                    <td class="col-md-10">{{ store.description }}</td>
                  </tr>
                </tbody>
            </table>

            <hr>

            <p>실제정보와 다른가요? 개선사항 또는 정보불일치 리포트 및 개선/제안을 받습니다.</p>

            <hr />
            <!-- Blog Comments -->

            <!-- Comments Form -->
            <div class="well">
                <div><p><strong>별점주기 </strong></p><span class='rating'><i class='fa fa-star-o fa-2x' value=1></i><i class='fa fa-star-o fa-2x' value=2></i><i class='fa fa-star-o fa-2x' value=3></i><i class='fa fa-star-o fa-2x' value=4></i><i class='fa fa-star-o fa-2x' value=5></i></span></div><br />
                <form enctype ="multipart/form-data" action="{% url 'review_new' store.pk %}" method="post">{% csrf_token %}
                    {% bootstrap_form review_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary"/>
                        {% bootstrap_icon "ok-sign" %} 리뷰달기
                        </button>
                    {% endbuttons %}
                </form>
            </div>

            <hr>

            <!-- 업체 리뷰 -->
            <h2>업체 후기</h2>
            {% for review in store.review_set.all %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            {{ review.author }}
                            <small>/ {{ review.created_at }} / </small>
                            <small>{{ review.rating }}</small>
                        </h4>
                        {{ review.content }}
                        <a href="{% url "review_edit" store.pk review.pk %}">수정</a>
                        <a href="{% url "review_delete" store.pk review.pk %}" class="text text-danger">삭제</a>
                    </div>
                </div>
            {% endfor %}

        </div>


        <!-- Blog Sidebar Widgets Column -->




        <div class="col-md-4">

            <div class="well well-sm">
            찾아오시는 길
            </div>
            <div id="map" style="width:100%; min-height:300px;">
            </div>
            <br />

            <!-- 추천 스토어-->
            <div class="well well-sm">
            추천 호프
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem i totatque eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, c</p>
                </div>
            </div>
            <br />

            <!-- 대학별 추천 스토어-->
            <div class="well well-sm">
            {user.profile.university} 사람들이 검색한 호프집
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem i totatque eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, c</p>
                </div>
            </div>
            <br />

            <!-- 최근 검색 스토어-->
            <div class="well well-sm">
            최근 검색한 호프
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem i totatque eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, c</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->







{% endblock %}



{% block js %}
<script>
    var map;

    function initMap() {
    var myLatLng = {
        lat: {{store.latitude}}, lng: {{store.longitude}}
    };
    map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: {{store.latitude}}, lng: {{store.longitude}} },
        zoom: 15
    });

    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
        });
    }
</script>

<script>
$(document).ready(function(){
    $("#favorite").click(function() {
        var url = $(this).attr("href");

        if (confirm("즐겨찾기에 추가합니다.")) {
            $.ajax({
                url: url,
                method: "GET"
            }).done(function() {
                $("#favorite").removeClass('btn-default');
                $("#favorite").addClass('btn-warning').text('즐겨찾기 등록완료');
            });
        };
        return false;
    });
});
</script>

<script>
$(document).ready(function(){
    $('.rating').children('i').click(function(){
        var passedStarValue = $(this).attr("value");
        $(this).siblings().removeClass('selected');

        $(this).addClass('selected');
        $(this).addClass('fa-star');
        $(this).removeClass('fa-star-o');

        $("i.selected").nextAll().removeClass('fa-star');
        $("i.selected").nextAll().addClass('fa-star-o');

        $("i.fa-star").prevAll().removeClass('fa fa-star-o');
        $("i.fa-star").prevAll().addClass('fa fa-star');

        $('#id_rating').val(passedStarValue);
    });
});
</script>

<script type="text/javascript">
    $(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});

</script>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_vmxnOdj0JUnZKuncitGd1Jq0PD3ovSo&signed_in=true&region=KO&callback=initMap" async defer></script>

{% endblock %}





