{% extends 'hof/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block style %}
    <link rel="stylesheet" href="{% static 'store_form.css' %}" />
    <style type="text/css">
    .radio {
        display: inline-block;
        border-radius: 3px;
        margin: 10px 1px;
        border: 1px solid #aaa;
    }
    .radio:hover, .radio:focus, .radio:active {
        background-color: #aaa;
    }
    .radio label {
        padding:5px;
    }
    </style>
{% endblock %}



{% block content %}

<div class="container">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
            {% bootstrap_form storeForm %}
            {% bootstrap_formset formset %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">{% bootstrap_icon "ok-sign" %} 업체 등록하기</button>
            {% endbuttons %}
        </form>
        <hr />
        <a class="btn btn-default" href="{% url 'index' %}">메인화면</a>
    </div>
    </div>
</div>


{% endblock %}


{% block script %}
<script>
$(document).ready(function(){
    function selectedRadioColor(radioInput){
        $(radioInput).on('change', function() {
        $(radioInput).parent().parent().css('background-color', 'white');
        $(this).parent().parent().css('background-color', '#aaa');
        });
    }

    selectedRadioColor('#id_gu input')
    selectedRadioColor('#id_region input')
    selectedRadioColor('#id_atmosphere input')
});
</script>



{% endblock %}
