{% extends 'hof/base.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'store_list.css' %}" />
<style>
    .navbar-form, .text-align-center {
        text-align: center;
    }
</style>
{% endblock %}

{% block navbar %}
    {% include 'hof/navbar2.html' %}
{% endblock %}


{% block content %}


<!-- Page Content -->
    <div class="container">


    <!-- Jumbotron Header -->
        <header class="jumbotron text-align-center">
            <h1>배경이미지를 넣어주세요!</h1>
        </header>

        <!-- Page Heading -->
        <div class="row">

            <div class="col-md-8">
            <!-- Project One -->
                {% for store in stores %}
                    <div class="row">
                        <div class="col-md-5">
                            <a href="{% url 'store_detail' pk=store.pk %}">
                                {% if store.storeimage_set.first %}
                                    <img class="img-responsive" src="{{ store.storeimage_set.first.image.url }}" />
                                {% else %}
                                    <img class="img-responsive" src="http://placehold.it/900x500" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-7">
                            <h3>{{ store.name }}</h3>
                            <h4>{{ store.atmosphere }}</h4>
                            <p>{{ store.description }}</p>
                        </div>
                    </div>
                    <!-- /.row -->

                    <hr>
                {% endfor %}

                <div class="pagination">
                    <span class="step-links">
                        {% if stores.has_previous %}
                            <a href="?page={{ stores.previous_page_number }}&where={{ request.GET.where }}&what={{ request.GET.what }}">previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ stores.number }} of {{ stores.paginator.num_pages }}.
                        </span>
                        {% if stores.has_next %}
                            <a href="?page={{ stores.next_page_number }}&where={{ request.GET.where }}&what={{ request.GET.what }}">next</a>
                        {% endif %}
                    </span>
                </div>


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- 추천 스토어-->
                <div class="well well-sm">
                추천 호프
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem i totatque eveniet unde.</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem ipsum dolor sit eveniet unde.</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem ipsum dolor sit amet, c</p>
                    </div>
                </div>
                <br />

                <!-- 대학별 추천 스토어-->
                <div class="well well-sm">
                {user.profile.university} 사람들이 검색한 호프집
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem i totatque eveniet unde.</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem ipsum dolor sit eveniet unde.</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem ipsum dolor sit amet, c</p>
                    </div>
                </div>
                <br />




                <!-- 최근 검색 스토어-->
                <div class="well well-sm">
                최근 검색한 호프
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem i totatque eveniet unde.</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem ipsum dolor sit eveniet unde.</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <a href="#">
                            <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h4>Subheading</h4>
                        <p>Lorem ipsum dolor sit amet, c</p>
                    </div>
                </div>




            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}

