{% extends 'hof/base.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'store_detail.css' %}" />
{% endblock %}



{% block content %}


    <!-- Page Content -->
    <div id="top-bar" class="col-md-12" style="margin-top: -18px;">
        <div style="margin-left: 42px;">
        <h1 style="margin-top: 5px; margin-bottom: 4px;">{{store.name}}<span style="font-size:12px;">{{store.atmosphere}}</span>
        <a href = "{% url 'tel_detail' store.pk %}"><btn class="btn btn-primary" style="position : right">연락처보기</btn></a></h1>
        <h5 style="margin-top: 0px; margin-bottom: 4px;">{{store.address}}</h5>
        <btn class="btn btn-primary">{{store.get_gu_display}}</btn><btn class="btn btn-primary">{{store.get_region_display}}</btn><btn class="btn btn-primary">{{store.max_guest}}명</btn><btn class="btn btn-primary">{{store.get_atmosphere_display}}</btn>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="thumbnail">
                    {% if store_image.first.image %}
                    <img style="float:left; margin-left: -5px; max-width:600px; max-height:500px" src="{{ store_image.first.image.url }}"/>
                    {% else %}
                    <img style="float:left; margin: 0px 20px 20px 0;" src="http://placehold.it/400x300" />
                    {% endif %}
                </div>
                <div class="caption-full" style="clear:both">
                    <h4 class="pull-right">$24.99</h4>
                    <h4><a href="#">Product Name</a>
                    </h4>
                </div>
                <div class="ratings">
                    <p class="pull-right">3 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        4.0 stars
                    </p>
                </div>

                <div class="well">

                    <div class="text-right">
                        <form enctype ="multipart/form-data" action="{% url 'review_new' store.pk %}" method="post">
                        {% csrf_token %}
                        {{ review_form }}
                        <input type="submit" value="리뷰 달기" class="btn btn-block btn-primary"/>
                   </form>
                    </div>

                    <hr>

                    {% for review in store.review_set.all %}
                    <h3>{{review.author}}</h3>
                    <h5>평점 : {{review.rating}}</h5>
                    <p>{{review.content}}<p>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">10 days ago</span>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">12 days ago</span>
                            <p>I've alredy ordered another one!</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-4">
                <div class="tab-content">
                    <p class="lead">업체의 위치</p>
                    <div id="map" class="tab-pane fade in active" style="width:400px;height:300px;">
                    </div>
                    <script>
                    var map;
                    function initMap() {

                    var myLatLng = {lat: {{store.latitude}}, lng: {{store.longitude}}};
                    map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: {{store.latitude}}, lng: {{store.longitude}}},
                    zoom: 15
                    });
                    var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                    });
                    }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?&callback=initMap"
                        async defer></script>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

    </div>
    <!-- /.container -->

    {% if favorite_flag %}
        <button class="btn btn-warning">즐겨찾기에 등록된 장소</button>
    {% else %}
        <button id="favorite" class="btn btn-default" href="{% url 'favorite_this_store' store.pk %}">즐겨찾기 추가하기</button>
    {% endif %}


{% endblock %}

{% block js %}

<script>
$(document).ready(function(){
    $("#favorite").click(function() {
        var url = $(this).attr("href");

        if (confirm("즐겨찾기에 추가합니다.")) {
            $.ajax({
                url: url,
                method: "GET"
            }).done(function() {
                $("#favorite").removeClass('btn-default');
                $("#favorite").addClass('btn-warning').text('즐겨찾기 등록완료');
            });
        };
        return false;
    });

});
</script>

{% endblock %}


</body>

</html>
