{% extends 'hof/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block style %}
<link rel="stylesheet" href="{% static 'tel_detail.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div>
        <li>{{store.tel}}</li>
         <li>{{ hitcount.total_hits }}</li>
         </div>
        <hr />
        <a class="btn btn-default" href="{% url 'index' %}">메인화면</a>
    </div>
    </div>
</div>


{% endblock %}