{% extends 'hof/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block style %}
    <link href="{% static 'signup.css' %}" rel="stylesheet">
    <style>
        body {
            padding-top: 100px;
        }
        td:first-child {
            font-size: 20px;
            font-weight: bold;
        }
        td:last-child {
            font-size:16px;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <p class="lead text-align-center"><strong>내 정보</strong></p>
        <form method="post" action="">{% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="id_username">아이디(수정불가)</label>
                <span class="form-control" id="id_username">{{ user.username }}</span>
            </div>
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-active btn-block">{% bootstrap_icon "ok-sign" %} 회원정보수정 </button>
            {% endbuttons %}
        </form>
            <hr />

        <a href="{% url 'password_change' %}" class="btn btn-xs btn-danger" style="width:49%"><h5>비밀번호 변경</h5></a>
        <a href="{% url 'favorite_list' %}" class="btn btn-xs btn-warning" style="width:49%"><h5>찜목록 보기</h5></a>
    </div>
    </div>
    </div>
{% endblock %}