{% extends 'hof/base.html' %}
{% load staticfiles %}


{% block style %}
    <link href="{% static 'signup_choice.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron text-center">
            <h1>일일호프, 원데이호프, 성공적</h1>
            <p>간단한 회원가입절차만 거치면<br />바로 원데이호프를 이용할 수 있습니다. 환영합니다 :)</p>
            </p>
        </header>



        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 col-md-offset-2 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <a href = "{% url 'signup' %}"><h3>일반회원 등록하기</h3></a>
                    </div>
                    <a href = "{% url 'signup' %}"><img src="http://placehold.it/800x500" alt=""></a>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                <div class="caption">
                        <a href = "{% url 'owner_signup' %}"><h3>가게주인 등록하기</h3></a>
                    </div>
                    <a href = "{% url 'owner_signup' %}"><img src="http://placehold.it/800x500" alt=""></a>

                </div>
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

{% endblock %}
