{% extends 'hof/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block style %}
<style>
    body {
        padding-top: 80px;
    }
</style>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <p class="lead text-align-center"><strong>OneDayHof</strong></p>
        <form method="post" action="">{% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary pull-right">{% bootstrap_icon "ok-sign" %} 회원가입 </button>
            {% endbuttons %}
        </form>
    </div>
    </div>
</div>

{% endblock %}