{% extends 'hof/base.html' %}
{% load staticfiles %}


{% block style %}
    <link href="{% static 'signup_choice.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>
        </header>

        <hr>


        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 col-md-offset-3 hero-feature">
                <div class="thumbnail">
                    <a href = "{% url 'signup' %}"><img src="http://placehold.it/800x500" alt=""></a>
                    <div class="caption">
                        <h3>일반회원 등록하기</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href = "{% url 'owner_signup' %}"><img src="http://placehold.it/800x500" alt=""></a>
                    <div class="caption">
                        <h3>가게주인 등록하기</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}
