
/* universal style */
.navbar-form, .text-align-center{
    text-align: center;
}


/* basic modal style */
.modal .modal-header, .modal h4, .modal .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal .modal-footer {
  background-color: #f9f9f9;
}

/* search modal style */
.modal-content-gray {
  background-color: #eee;
}
.search-modal {
  top:40%;
}
.search-modal .modal-body {
    padding: 10px;
    text-align: center;
}
.modal-body .btn-sm {
    padding: 5px 8px;
    margin: 2px;
}


/* Footer Styles */
footer {
    margin: 50px 0;
}


