

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://placehold.it/1900x500') no-repeat center center scroll;
    filter:brightness(40%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 8% 0 8% 0;
}
.headline {
    opacity: 0.9;
}

.page-header {
    padding-bottom: 9px;
    margin: 75px 0 20px;
    border: none;
}


/* popular place picture search */
.picture_search {
    width: 100%;
    background: url('http://placehold.it/700x200') no-repeat center center;
    text-align: center;
    opacity: 0.8;
    padding:9% 0;
    margin: 10px 0;
}
.picture_search:hover {
    opacity:1;
}


/* recommended_store style */
.caption {
    height: 130px;
    overflow: hidden;
}
.caption h4 {
    white-space: nowrap;
}
.thumbnail img {
    width: 100%;
}
.thumbnail-borderless {
    border:none;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}


/* 404 Page Styles */
.error-404 {
    font-size: 100px;
}



