{% extends 'hof/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block style %}
    <link rel="stylesheet" href="{% static 'login.css' %}" />
        <style>
    .text-align-center {
        text-align:center;
    }
    body {
        padding-top: 80px;
    }
    </style>
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <p class="lead text-align-center"><strong>비밀번호 변경</strong></p>
        <form method="post" action="">{% csrf_token %}
            {% bootstrap_form form %}
        <hr />
            {% buttons %}
                <button type="submit" class="btn btn-primary" style="width:49%">{% bootstrap_icon "ok-sign" %} 비밀번호 변경 </button>
            {% endbuttons %}
        </form>
    </div>
    </div>
</div>


{% endblock %}